// 主题
$theme: (
  light: (
    main: #00b96b,
    vice: #29cbff,
    text: #000,
    fore: #fff,
    back: #f5f5f5,
    land: #ff9900,
    link: #dd7f49,
    code: #e23861,
    well: #3fa362,
    warn: #fb9a2a,
    risk: #ff563f,
    info: #0889e4,
    fund: #ff0000
  ),
  dark: (
    main: #67c5f4,
    vice: #b54eea,
    text: rgba(255, 255, 255, 0.9),
    fore: #1d1d1d,
    back: #161616,
    land: #ff9900,
    link: #dd7f49,
    code: #e23861,
    well: #4bbc73,
    warn: #fb9a2a,
    risk: #f95850,
    info: #0889e4,
    fund: #ff0000
  )
);

// 核心
@import '@mcui/core';

// 主题
// @import '~mc-tinting/theme/mc-tinting@theme=default';

html,
body {
  height: 100%;
  margin: 0;
  text-align: center;
}

body {
  padding: 5px;
  max-width: 640px;
  margin: 0 auto;
}

html {
  font-size: 12px;
}

h1 {
  font-size: 1.5rem;
}

div {
  box-sizing: border-box;
}

pre {
  text-align: left;
  font-size: 10px;
}

#header,
#footer {
  height: 850px;
}

#header-title {
  height: 250px;
}

#f1 {
  height: 600px;
  //background : #63a44d;
}

#f2 {
  height: 900px;
  //background : #d6885c;
}

#f3 {
  height: 300px;
  //background : #8c5caa;
}

#f4 {
  height: 300px;
  //background : #5481aa;
}

#f5 {
  height: 300px;
  //background : #c8c451;
}

#tabs {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;

  & > * {
    width: 33.333%;
    padding: 0.2em;
  }
}

.floor {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}

body:before,
body:after {
  content: '';
  display: block;
  width: 10%;
  height: 1px;
  background: #ff0000;
  position: absolute;
  top: 630px;
}

body:before {
  left: 0;
}

body:after {
  right: 0;
}

#header-title {
  white-space: nowrap;
  overflow: auto;
  position: relative;

  & > span {
    display: inline-table;
  }
}

#btn1 {
  padding: 0.5em 1em;
  border-radius: 5px;
  background: #42a542;
  color: #fff;
}
